
@media(min-width:577px) and (max-width:990px){
    .res-text{
        display: none;
    }
    .animate_line{
        z-index: 9999;
    }

}


@media(min-width:576px) and (max-width:990px){
    .bg-secondry-box-1{
        padding-bottom: 54px;
    }
    .bg-secondry-box-1{
        padding-bottom: 54px;
    }
    .bg-secondry-box-2{
        padding-bottom: 1px;
    }
}


@media (max-width: 576px) {
    .res-text{
        display: none;
    }
    .serviceStart{
        margin-top: 461px;
    }
    .text-left-0 p{
        text-align: justify;
    }
    .icon-content-text{
        text-align: center;
    }
    .service-1{
        margin-bottom: 20px;
    }
    .hidden-sm img{
        float: right;
        width: 97px;
        padding-bottom: 10px;
        padding-right: 0px;
        padding-left: 1px;
        height: 51px;
        margin-right: 10px;
        margin-top: 9px;
    }
    .content-box{
        padding-bottom: 0px;
    }
    .text-left-00 p{
        text-align: justify; 
    }
    .descrip{
        height: auto;
    }
    .section-full {
        padding-top: 37px;
    }
    .bg-left-center-margin{
        padding-top: 9px;
        padding-bottom: 30px;
    }
    .scale-bg-bottom{
        padding-bottom: 5px;
    }
}

@media (max-width: 768px){
    .bg-left-center-margin {
        padding-top: 10px;
        padding-bottom: 45px;
    }
    .p-tb100-box{
/*        padding-top: 35px;
        padding-bottom: 41px;*/
    }
}
